@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: white;
  overflow-x: hidden;
}

:root {
  --primary-blue: #1A73E8;     /* Navbar logo, buttons */
  --accent-orange: #F97316;   /* Shop Now, CTA buttons */

  --dark-heading: #0F172A;    /* Headings */
  --text-gray: #374151;       /* Paragraph text */
  --muted-gray: #6B7280;      /* Small / secondary text */

  --background: #F9FAFB;        /* Page background */
  --white: #FFFFFF;

  --border-gray: #E5E7EB;

  --primaryfont: 'Inter', sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px;
}

.container-nav-inner {
  display: flex;
  justify-content: space-evenly;
}

.logo {
  font-size: 40px;
  color: var(--primary-blue);
  font-family: var(--primaryfont);
  font-weight: 700;
  margin-left: 30px;
}

.nav-links {
  font-size: 18px;
  color: var(--muted-gray);
  font-family: var(--primaryfont);
  font-weight: 700;
  display: flex;
  gap: 50px;
  list-style-type: none;
  padding-top: 15px;
  margin-left: 120px;
}

.nav-links > li > a {
  text-decoration: none;
  font-weight: 600;
  color: var(--text-gray);
}

.nav-icons {
  display: flex;
  margin-left: 150px;
  gap: 40px;
}

.nav-icons > img {
  width: 35px;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-left: 100px;
  /* padding: 0px 100px; */
  background: rgb(233, 235, 245); /* light background like image */
}

/* LEFT TEXT */
.hero-content {
  max-width: 500px;
}

.hero-content h2 {
  font-size: 42px;
  line-height: 1.2;
  font-family: var(--primaryfont);
}

.hero-content p {
  margin: 20px 0;
  color: #555;
  font-family: var(--primaryfont);
  font-weight: 500;
}

.shop-now {
  display: inline-block;
  padding: 12px 24px;
  background-color: #f26522;
  color: #fff;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
}

/* RIGHT IMAGE */
.hero-image > img {
  max-width: 100%;
  width: 100%;
  float: right;
}

.shop-section > h2{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  font-size: 26px;
  font-weight: 700;
  font-family: var(--primaryfont);
}

.categories {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 25px;
}

.categories > a {
  text-decoration: none;
  color: var(--dark-heading);
}

.category-card {
  background-color: rgb(166, 211, 248);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.category-card img {
  width: 200px;
}

.category-card p {
  margin-top: 10px;
  font-weight: 600;
}

.products {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
}

.shop-section > h2{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  font-size: 26px;
  font-weight: 700;
  font-family: var(--primaryfont);
}

.product-card {
  background-color: rgb(166, 211, 248);
  border-radius: 12px;
  padding: 20px;
  text-align: center;
  width: 200px;
}

.product-card img {
  width: 170px;
}

.product-card h4 {
  margin: 15px 0 5px;
}

.price {
  font-weight: bold;
  margin-bottom: 12px;
}

.product-card button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 16px;
  border-radius: 6px;
  cursor: pointer;
}
